<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is user form</h1>
    <form method="post" action="/users">
         name <input type="text" name="NAME" placeholder="Enter your name">
        email <input type="email" name="Gmail" placeholder="Enter your email">
        <input type="submit" value="Submit">
    </form>
</body>
</html>